/* 深色模式下的文本颜色调整 */
[data-md-color-scheme="slate"] {
    --md-default-fg-color: rgba(255, 255, 255, 0.87);
    --md-default-fg-color--light: rgba(255, 255, 255, 0.75);
    --md-default-fg-color--lighter: rgba(255, 255, 255, 0.5);
    --md-default-fg-color--lightest: rgba(255, 255, 255, 0.07);
    --md-default-bg-color: #1a1a1a;
    --md-typeset-a-color: #80cbc4;
    --md-primary-fg-color--light: #80cbc4;
    --md-primary-fg-color--dark: #00251a;
}

[data-md-color-scheme="slate"] .md-typeset pre {
    background-color: #1e2429 !important;
}

[data-md-color-scheme="slate"] .md-typeset blockquote {
    border-left: 4px solid var(--md-primary-fg-color);
    background-color: #1e2429;
}

[data-md-color-scheme="slate"] .md-search__input {
    background-color: rgba(255, 255, 255, 0.1);
}

[data-md-color-scheme="slate"] .md-search__input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

[data-md-color-scheme="slate"] .md-social__link {
    color: rgba(255, 255, 255, 0.9) !important;
}

[data-md-color-scheme="slate"] .md-social__link:hover {
    color: var(--md-primary-fg-color--light) !important;
}

[data-md-color-scheme="slate"] .md-header__source {
    color: rgba(255, 255, 255, 0.9) !important;
}

[data-md-color-scheme="slate"] .md-content a {
    color: #80cbc4 !important;
}

[data-md-color-scheme="slate"] .md-content a:hover {
    color: #b2dfdb !important;
    text-decoration: underline;
}